[Unit]
Description=MPDProxy
Documentation=https://github.com/zerkerX/MPDControl
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
ExecStart=/usr/local/libexec/mpdproxy.py
User=mpd

[Install]
WantedBy=multi-user.target
